
*
{
padding:0;

margin:0;

box-sizing: border-box;

}

body
{

	background-image: url(background.jpg);
	background-size: cover;
	background-position:center;
	
	font-family: sans-serif;
}
.menu-bar
{
	
	background: rgb(0,100,0);
	text-align: center;
	
}
.menu-bar ul

{
	
	display: inline-flex;
	list-style:none;
	color:#fff
	
}

.menu-bar ul li
{
 width: 120px;
 margin: 15px;
 padding 15px;	
}

.menu-bar ul li a
{

text-decoration: none;
color:#fff;
}
.active, .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius: 3px;
	
}

.menu-bar .fa
{
	
margin-left: inherit;	
	
}

.sub-menu-1
{
	display: none;
	
}

.menu-bar ul li:hover .sub-menu-1
{
	
	display: blocK;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li

{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius:0;
	text-align: left;
	
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #b2ff00;
}

.boxed
{
position: relative;
min-height: 100%;
top: 0px;	
}
.skiptranslate
{
	padding: 8px;
}

.logo
{
	background: #0000FF;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: center;
 
}

/* Hide the images by default */
.mySlides {
 /*  display: none; */
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -685;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow-container

{
	position:absolute; 
	margin: 2;
	
}

.dotincenter{
	
    text-align: right;
	width: 90%;
	padding:0;
	margin:11; 
}
.text
{
	
	olor: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 89px;
    width: 95%;
    text-align: right;
}
.product
{
	text-align: right;
	position:relative;
	padding:-20;
	margin:11; 
	width: 97%;
}









